*.png
images/
outputs/
*.zip
tex/*.bib
tex/*.pdf
tex/*.aux
tex/*.aux
tex/*.xml
tex/*.bbl
tex/*.blg
tex/*.log
tex/*.out
cython/optimize.cpp
*.html
*.c
*.swp
*/*.swp
*/__pycache__
*/*/__pycache__
data/
Dimensionality_Reduction_Analysis.egg-info/
cython_dim_reduction.egg-info/
dist/
umap/.DS_Store
umap/Images
build/
.DS_Store
*.so
